// Custom styles.
// 整体背景设置
body {
  background:url(你想加的背景图片url);
  background-attachment: fixed; //固定图片位置
  opacity: 0.8; //透明度设置
}

// 页面头样式属性
.header-inner {
  // 也可以同时定义背景色
  // background: #ddd 
  // 透明度
  opacity: 0.8;
}
// sidebar侧边工具栏样式属性
.sidebar{
  // 动画过渡时间
  transition-duration: 0.4s;
  // 透明度
  opacity: 0.9
}
// 标题样式
.posts-expand .post-title-link {
	// 设置字体颜色
	color: #222;
}

// 文章版块样式
.post-block {
    //background: var(--content-bg-color);
	background: #fff
    border-radius: initial;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    padding: 40px;
    //opacity: 0.8;
}